body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.grid{
    display: inline-grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}
.card{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);


    font-size: 25px;
    color: white;
    transition: 0.5s;
}
.card.flipped{
    background: aquamarine;
}
.btn{
 position: absolute;
 text-align: center;
 font-size: 20px;
 bottom: 40px;
 height: 40px;
 width: 75px;
 border-radius: 10px;
 background: linear-gradient(135deg, #11998e, #38ef7d);
 border: none;
}